.carousel-caption {
  position: static;
}

.carousel-inner {
  margin: 0 auto;
  max-width: 100%;
  width: 600px;
}

.carousel-control-prev,
.carousel-control-next {
  background: #6c757d;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}

.slider-image {
  height: 200px;
  margin: 0 auto;
}
