@import "~bootstrap/scss/bootstrap";

h1 {
  margin-bottom: 1rem;

  @media (max-width: 576px) {
    font-size: 2rem;
  }
}

img {
  max-width: 100%;
}

.container-main {
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;
}

.card-deck {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 314px));
  // grid-gap: 0.5rem;
  @media (min-width: 576px) {
    display: flex;
  }

  .card {
    @media (min-width: 576px) {
      max-width: 44%;
      min-width: 44%;

      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    @media (min-width: 992px) {
      max-width: 30%;
      min-width: 30%;
    }
  }
}

.loader {
  background-color: #fff;
  background-image: url(./loader.gif);
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
